<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weight Tracker</title>
  <!-- <link rel="shortcut icon" href="favicon.ico"> -->
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Weight Tracker</h1>

  <h2>Enter your Weight, Date, and notes about the day</h2>

  <form action="/info" method="POST">
    <input type="text" placeholder="Weight" name="weight">
    <input type="text" placeholder="Date" name="date">
    <input type="text" placeholder="Notes" name="notes">
    <button type="submit">Submit</button>
  </form>

  <h3>Recommended checking weight at least once a week</h3>
  <ul class="messages">
  <% for(var i=0; i<info.length; i++) {%>
    <li class="message">
      <span><%= info[i].weight %></span>
      <span><%= info[i].date %></span>
      <span><%= info[i].notes %></span>
      <!-- <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span> -->
      <span><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
    </li>
  <% } %>
  </ul>

  <script src="main.js"></script>

</body>
</html>
